/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #34475b;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    line-height: 2;
}

a {
    text-decoration: none;
    color:#34475b
}

a:hover {
    color: dodgerblue;
}

/* UTILITIES */
.container {
    width: 1200px;
    margin: 0 auto;
}

.container-small {
    width: 900px;
    margin: 0 auto;
}

.box {
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.fixed {
    position: fixed;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.b {
    font-weight: bold;
}

.orange {
    color: #fe7859;
}

.numbers {
    font-size: 40px;
}

.promo {
    margin-top: 60px;
    font-size: 12px;
}

/* Buttons */
.btn {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    background: #fe7859;
}

.btn-inv {
    border-color: #fe7859;
    color: #fe7859;
    background: none;
}

.btn-big {
    padding: 20px 30px;
}

/* HEADER */
/* Top Header */
.top-header {
    z-index: 1;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #34475b;
    line-height: 80px;
    background: #f4f9fd;
}

.top-header .language {
    padding-right: 20px;
    border-right: 1px solid;
}

.top-header .contact {
    margin-left: 20px;
}

.top-header .col-right {
    text-align: right;
}

.top-header .search {
    color: #2dacc3;
}

.top-header .search:hover {
    color: #34475b;
} 

.top-header .btn.btn-inv {
    margin: 0 20px;
}

/* Navigation */
.main-navigation {
    padding-top: 80px;
    height: 160px;
    line-height: 80px;
}

.main-navigation img {
    vertical-align: middle;
}

.main-navigation .col-right {
    text-align: right;
}

.main-navigation li {
    margin-right: 20px;
    display: inline;
    list-style: none;
}

.main-navigation li:last-child {
    margin-right: 0;
}

/* JUMBOTRON */
.jumbotron {
    height: 600px;
    background-color: #fff2ee;
    background-image: url(../img/jumbotron.png);
    background-position-x: 60%;
    background-repeat: no-repeat;
}

.jumbotron .container {
    height: 100%;
}

.jumbotron .text {
    padding-top: 70px;
}

.jumbotron .text p {
    margin: 30px 0 50px;
}

.jumbotron::after {
    content: "";
    display: block;
    width: 100%;
    height: 80px;
    border-bottom: 3px solid #34475b;
    border-top: 3px solid #34475b;
    background: #afebe4;
}

/* MAIN */
/* Main offer */
main {
    background: #f4f9fd;
}

.main-offer {
    margin-top: 86px;
    text-align: center;
}

.main-offer img {
    padding-top: 50px;
    height: 250px;
}

.main-offer p {
    margin: 40px 0;
}

/* CRM */
.crm {
    padding-bottom: 80px;
}

.crm .col-left {
    text-align: center;
}

.crm .col-left img {
    margin-top: 100px;
    margin-bottom: 50px;
    height: 100px;
}

.crm .text {
    margin-top: 100px;
}

.crm .text p {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 80%;
}

.crm .text .features {
    position: relative;
}

.crm .text .features::after{
    content: "";
    display: inline-block;
    height: 2px;
    width: 70%;
    margin-left: 20px;
    background-color: #34475b;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.crm .text li {
    display: inline-block;
    list-style: none;
    margin-top: 30px;
    margin-right: 20px;
}

.crm .text li:last-child {
    margin-right: 0;
}

/* Hubs */
.hubs {
    height: 650px;
    margin: 50px 0;
}

.hubs .container {
    height: 100%;
}

.hubs .col {
    height: 100%;
    width: 30%;
    margin-right: 60px;
    text-align: center;
}

.hubs .col:last-child {
    margin-right: 0;
}

.hubs .col img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
}

.hubs .col p {
    margin: 0 20px;
    margin-bottom: 30px;
    height: 200px;
    padding-top: 30px;
    border-bottom: 2px solid;
}

.hubs .col ul {
    margin-top: 30px;
    margin-bottom: 70px;
    padding-left: 20px;
}

.hubs .col li {
    text-align: left;
    list-style: none;
}

.hubs .col li i {
    margin-right: 10px;
}

 /* Data */
.data {
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: linear-gradient(to left, #03baa8 , #06abb6);
    text-align: center;
    color: white;
}

.data p {
    margin: 50px 0;
}

.data .row {
    height: 170px;
    width: 100%;
}

.data .row .cell {
    height: 100%;
    width: 25%;
    border-right: 1px solid;
}
 
.data .row .cell:last-child {
    border-right: none;
}

.data .first.row .cell {
    border-bottom: 1px solid;
}

.data .row .cell img {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.data .cell .numbers:after {
    display: inline-block;
    content: "+";
    padding-left: 10px;
    font-size: 30px;
    font-weight: 400;
}

.data .cell .description {
    margin-top: 10px;
    font-size: 12px;
}

/* Partners */
.partners {
    padding: 60px 0;
    background: white;
}

.partners .left-col {
    width: 40%;
}

.partners .right-col {
    position: relative;
    width: 60%;
    height: 620px;
}

.partners .numbers-container {
    margin-bottom: 80px;
    margin-left: 90px;
    width: 220px;
}

.partners .numbers {
    font-size: 50px;
    margin-bottom: 30px;
}

.partners .left-col p {
    margin-top: 30px;
    margin-bottom: 60px;
}

.partners .logo-row {
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}

.partners .logo-row:last-child {
    margin-bottom: 0px;
}

.partners .right-col .logo-row img {
    vertical-align: middle;
    width: 150px;
    margin-right: 20px;
}

.partners .right-col .logo-row img:last-child {
    margin-right: 0;
}

.partners .right-col .main-image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 380px;
}

/* FOOTER */
footer {
    color: white;
    background: #33495a;
}

footer a {
    color: white;
}

/* Main-footer */
footer .main-footer .col {
    width: 25%;
}

footer .main-footer li {
    list-style: none;
    margin: 25px 0;
}

footer .main-footer .title {
    margin: 40px 0;
}

footer .main-footer ul .btn {
    color: #33495a;
    background: white;
}

footer .main-footer ul .btn:hover {
    border: 1px solid;
    color: white;
    background: #33495a;
}

footer .main-footer .icons a {
    margin-right: 30px;
}

footer .main-footer .icons a:last-child {
    margin-right: 0;
}

/* Language selection */
footer .language-selection {
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    text-align: center;
}

footer .language-selection a {
    margin-right: 20px;
}

footer .language-selection a:last-child {
    margin-right: 0;
}

/* Bottom footer */
footer .bottom-footer {
    height: 120px;
    margin-top: 50px;
}

footer .bottom-footer .col-left img {
    margin-bottom: 10px;
}

footer .bottom-footer .col-right {
    text-align: right;
}

footer .bottom-footer .col-right a:first-child {
    margin-right: 20px;
}